.list__item {
  user-select: none;
  will-change: transform;
  cursor: move; /* Make the entire item appear draggable */
}

.list__item.is-idle {
  transition: 0.25s ease transform;
  user-select: none;
}

.list__item.is-draggable {
  cursor: move;
  z-index: 10;
  user-select: none;
}

.overlay{
	position: absolute;
	height: 147px;
	width: 847px;
	opacity: 0;
	background-color: rgba(203, 144, 31, 0.25);
	border: 4px solid #eea40f;
	border-radius: 15px;
}

.js-item:hover .overlay{
	opacity: 1;
}